header{
    background: #2a3948;
    .left_cont{
        width: auto;
        display: inline-block;
        height: 42px;
        a{
            float: left;
            i{
                font-size: 28px;
                color: rgba(255,255,255,0.9);
                background-color: #000;
                padding: 10px;
            }
        }
        p{
            float: left;
            vertical-align: middle;
            padding: 12px 20px;
            color: rgba(255,255,255,0.9);
        }
    }
}