<section class="header">
  <app-header (expandEvt) = "checkExpand($event)"></app-header>
</section>
<div class="mainBody flex-container">
  <div class="leftPanel" *ngIf ="loader">
    <app-left-menu [isExpand$] ="expandFlag"></app-left-menu>
  </div>
  <div class="middlePanel" [ngClass]= "expandFlag ?'sm' :'lg'">
    <router-outlet></router-outlet>
  </div>
  <div class="rightPanel">
    <app-right-menu></app-right-menu>
  </div>
  
</div>
<section class="footer">
  <app-footer></app-footer>
</section>
