<div class="rightSidePanel">
    <div class="menuList">
        <ul>
            <li [ngClass]= "isSetting ?'active' : ''">
                <a href="javascript:void(0)" (click)="movetoSetting()">
                    <i class="fa fa-cog"></i>
                </a>
            </li>
            <li [ngClass]= "isInfo ?'active' : ''">
                <a href="javascript:void(0)" (click)="movetoInfo()">
                    <i class="fa fa-info-circle"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="settingCont" *ngIf="isSetting">
        <h4>Setting Pane</h4>
        <div class="details">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
            </p>
        </div>
    </div>
    <div class="infoCont" *ngIf="isInfo">
        <h4>Info Pane</h4>
        <div class="details">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus totam ex qui eos in suscipit dicta voluptatibus corrupti ea reiciendis nostrum veritatis exercitationem, similique eius eveniet quia praesentium repellat.
            </p>
        </div>
    </div>
</div>
